<div class="books container">
    <div class="row">
        <div class="col-md-3">
            <div class="hidden-print affix" role="complementary">
                <ul class="nav" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
                    <li><a class="" href="#">11</a></li>
                    <li><a class="" href="#">Troisième génération</a></li>
                    <li><a class="" href="#">Déjà rêvé</a></li>
                    <li><a class="" href="#">Requiem</a></li>
                    <li><a class="" href="#">L'offre spéciale</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div>
                <h1>Before/After Demo Task Force (BAD TF) Work Statement</h1>

                <h2>Status</h2>
                <p>This Work Statement for the Before/After Demo Task Force (BAD TF) (hereafter referred to as "Task Force") has been reviewed and approved by EOWG in its teleconference on 1 July 2005. <strong>This Task Force is closed since January 2012; the latest version of the work is available at <a href="http://www.w3.org/WAI/demos/bad/">http://www.w3.org/WAI/demos/bad/</a>.</strong></p>

                <h2>Objectives</h2>
                <p>The Task Force operates under the <a href="http://www.w3.org/WAI/EO/charter4.html">EOWG charter</a>.</p>
                <p>The objective of the Task Force is to:</p>
                <ul>
                    <li>develop an EOWG Resource Suite demonstrating a "before" and "after" repair of a Web site for the purpose of increasing accessibility, and explaining the changes in the site, as described in the <a href="http://www.w3.org/WAI/EO/Drafts/retrofit/requ-basite.html">Requirements for Before/After Demo</a> document.</li>
                </ul>

                <h2>Communication</h2>
                <p>The Task Force communications are publicly visible. Communication mechanisms for the Task Force include:</p>
                <ol>
                    <li>The Task Force mailing list&lt;public-wai-eo-badtf@w3.org&gt; and archives</li>
                    <li>Weekly (or biweekly) Task Force teleconferences</li>
                    <li>Monthly (or more frequently, as needed) Task Force updates and feedback in EOWG teleconferences</li>
                    <li>BADTF Web page</li>
                </ol>

                <h2>Participation</h2>
                <p>Task Force participants must be participants of EOWG; should be skilled in HTML, CSS, scripting, Web development, and WCAG; and must actively contribute to the work of the Task Force, including:</p>
                <ol>
                    <li>
                        Minimum 4 hours per week of work on Before/After Demo (Task Force is intended to be short-term (approximately 3 months))<br>
                    </li>
                    <li>Remain current on Task Force&nbsp; mailing list and respond in a timely manner to postings on Task Force mailing list</li>
                    <li>Participate in Task Force telephone meetings, or send regrets to the Task Force list</li>
                    <li>Assist in preparing Task Force deliverables for discussion</li>
                </ol>

                <h2>W3C Team Leadership</h2>
                <p>The Task Force facilitator is Shadi Abou-Zahra.</p>

                <h2><a name="participants" id="participants">Participants</a></h2>
                <p>Current BAD TF participants:</p>
                <ul>
                    <li>Eric Eggert (Yatil)</li>
                    <li>Wilco Fiers (Accessiiblity.NL)</li>
                    <li>Maik Wagner (MCWIWA)</li>
                    <li>Michael Stenitzer (Wienfluss)</li>
                    <li>Shadi Abou-Zahra (W3C/WAI)</li>
                    <li>Sylvie Duchateau (BrailleNet)</li>
                    <li>Thomas Jewett (CSULB)</li>
                </ul>

                <p>Previous BAD TF participants:</p>
                <ul>
                    <li>Andrew Arch (Vision Australia)</li>
                    <li>Henny Swan (RNIB)</li>
                    <li>Klaus Hartinger (Edelweiss Medienwerkstat)</li>
                    <li>Liam McGee (GAWDS/Communis)</li>
                    <li>Pasquale Popolizio (IWA-HWG)</li>
                    <li>Shadi Abou-Zahra (W3C/WAI)</li>
                    <li>Steven Faulkner (Vision Australia)</li>
                    <li>Tanguy Loheac (BrailleNet)</li>
                </ul>

                <hr>
                <p>Editor: Shadi Abou-Zahra (previously Judy Brewer)</p>
                <p>Last updated: $Date: 2012/02/20 21:02:35 $</p>
            </div>
        </div>
    </div>
</div>