<div class="container contact">
	<div class="row">
		<div class="col-md-6">
			<div class="thumbnail">
				<img src="/images/giasson_frown.jpg" />
			</div>
		</div>
		<div class="col-md-6">
			<div class="container">
				<h1>Steve Giasson</h1>
				<h2>2503 RUE FRONTENAC, APP.2,</h2>
				<h2>MONTRÉAL, QC, H2K 3A2</h2>
				<h2><a href="tel:1-514-525-9979">514-525-9979</a></h2>
				<h2><a href="mailto:hensa_25@hotmail.com">hensa_25@hotmail.com</a></h2>
				<h2><a href="http://www.stevegiasson.com">www.stevegiasson.com</a></h2>
			</div>
		</div>
	</div>
</div>