<div class="container">
	<div class="container cv">
		<h2>Démarche artistique</h2>
		<p>Steve Giasson est un artiste conceptuel qui utilise une grande variété de formes et de médiums
		(écriture conceptuelle, vidéo, performance, installation...) afin de transgresser les genres et
		d’interroger leurs limites. Les notions romantiques d’authenticité, d’autorité et d’originalité sont,
		chez lui, mises à mal, dans une pratique qui ne ménage ni les emprunts à la vie quotidienne, ni les
		références à l’histoire de l’art – entre hommage et outrage – dans un effort de démythification du
		processus créateur et de la figure de l’artiste.</p>
		<p>Il compte 20 livres à son actif et il poursuit actuellement un doctorat en Études et pratiques des arts
		(UQÀM). Son travail a été présenté au Canada, aux États-Unis, au Mexique, en Angleterre, en
		Espagne, en France, en Allemagne et en Suède, notamment dans le cadre de larges expositions
		internationales comme le Text Festival 2011 (Manchester), la Liverpool Biennial 2012, le Text
		Festival 2014, The Dark Would au Summerhall (Edinburgh) et Ed Ruscha Books &amp; Co. à la
		Gagosian Gallery Madison et au Museum Brandhorst (Munich). Il vit et travaille à Montréal.</p>
		
	</div>
	<div class="container cv">
		<h1>CURRICULUM VITÆ</h1>
		<h2>Steve Giasson</h2>
		2503 RUE FRONTENAC, APP.2,<br/>
		MONTRÉAL, QC, PK 3A2<br/>
		<a href="tel:1-514-525-9979">514-525-9979</a><br/>
		<a href="mailto:hensa_25@hotmail.com">hensa_25@hotmail.com</a><br/>
		<a href="http://www.stevegiasson.com">www.stevegiasson.com</a><br/>
		<br/>
		<div class="row formation">
			<h2>Formation</h2>
			<div>
				<div>
					<div class="col-md-1" >2010</div>
					<div class="col-md-11">Doctorat en Étude et pratique des arts à l’Université du Québec à Montréal (UQAM). (En cours en 2014.)</div>
				</div>
				<div>
					<div class="col-md-1" >2007-10</div>
					<div class="col-md-11">Maîtrise en théâtre à l’UQAM.</div>
				</div>
				<div>
					<div class="col-md-1" >2004-07</div>
					<div class="col-md-11">Baccalauréat en Arts visuels et médiatiques à l’UQAM.</div>
				</div>
				<div>
					<div class="col-md-1" >2003-04</div>
					<div class="col-md-11">Certificat en Arts plastiques à l’UQAM.</div>
				</div>
				<div>
					<div class="col-md-1" >2000-02</div>
					<div class="col-md-11">Mineure en Études françaises à l’Université de Montréal.</div>
				</div>
			</div>
		</div>
		<div class="row oeuvres">
			<h2>Oeuvres entrées dans la collection d’un musée ou d’une institution</h2>
			<div>
				<div>
					<div class="col-md-1" ></div>
					<div class="col-md-11">Steve Giasson. 2014. Locutio. Installation In situ. Textes en latin imprimés sur cartels. Dimensions variables. Collection : Bury Art Museum, Manchester, Royaume-Uni.</div>
				</div>
				<div>
					<div class="col-md-1" ></div>
					<div class="col-md-11">
						Steve Giasson. 2014. 0 :40 Minutes. Installation In situ, chiffres et lettres en vinyle gris clair disposées à
						même le sol selon le temps nécessaire pour traverser la pièce. Dimensions variables. Collection : Bury Art Museum, Manchester, Royaume-Uni.
					</div>
				</div>
				<div>
					<div class="col-md-1" ></div>
					<div class="col-md-11">Steve Giasson. 2011. 246. Lettres en vinyle noir. Dimensions variables. Collection : Bury Art Museum, Manchester, Royaume-Uni.</div>
				</div>
				<div>
					<div class="col-md-1" ></div>
					<div class="col-md-11">Steve Giasson. 2011. Some Gasoline Prices. 21 x 15 cm. 52 pages. Manchester : Apple Pie Editions. Collection : Sammlung Paul Heimbach Library.</div>
				</div>
			</div>
		</div>
		<div class="row solo">
			<h2>Expositions solo</h2>
			<div>
				<div>
					<div class="col-md-3" >8 juillet – 8 septembre 2013</div>
					<div class="col-md-9">VOX. Publication Studio : Malmö, Kulturhuset Ystadvägen 13 Dalaplan 214 30 Malmö, Suède. Commissaire : Ola Stahl.</div>
				</div>
				<div>
					<div class="col-md-3" >7 septembre- 6 octobre 2012</div>
					<div class="col-md-9">11. Centre des arts actuels SKOL, Montréal.</div>
				</div>
			</div>
		</div>
		<div class="row oeuvres">
			<h2>Expositions collectives (sélection)</h2>
			<div>
				<div>
					<div class="col-md-3" >Octobre 2014 (À venir)</div>
					<div class="col-md-9">Photoforum. Galerie Les Territoires, Montréal.</div>
				</div>
				<div>
					<div class="col-md-3" >15 – 18 octobre 2014 (À venir)</div>
					<div class="col-md-9">Biennale d'art performatif de Rouyn-Noranda. L'Écart, Lieu D'Art Actuel, Rouyn-Noranda.</div>
				</div>
				<div>
					<div class="col-md-3" >3 mai – 9 juillet 2014</div>
					<div class="col-md-9">"The Language of Lists", Text Festival in Bury. Bury Art Museum, Manchester, Royaume-Uni. Commissaire : Tony Trehy.</div>
				</div>
				<div>
					<div class="col-md-3" >7 décembre 2013 – 24 janvier 2014</div>
					<div class="col-md-9">The Dark Would, Summerhall, Edinburgh. Mon installation textuelle GHOSTSOFGHOSTSOF est présentée aux côtés des oeuvres de Richard
						Long, Susan Hiller, Tom Phillips, Simon Patterson, Stéphane Mallarmé, Ian Hamilton Finlay et Joseph Beuys, notamment. Commissaire : Philip Davenport.</div>
				</div>
				<div>
					<div class="col-md-3" >8 novembre – 14 décembre 2013 (En cours.)</div>
					<div class="col-md-9">Monobandes III, Galerie Les Territoires, Montréal. Exposition de deux
						vidéos, snowwhitelenin et Steve Giasson Eats A Hamburger (After Bismuth After Warhol).</div>
				</div>
				<div>
					<div class="col-md-3" >9 novembre 2013</div>
					<div class="col-md-9">Table réflexive, lectures sonores et performatives, événement parallèle à
						l’exposition de Mario Côté Tables d’écoute, Galerie Trois points, Montréal.
						Avec Julian Stein, Chantale Laplante et Sophie Castonguay. Commissaire : Patrice Loubier.</div>
				</div>
				<div>
					<div class="col-md-3" >6 juin – 22 septembre 2013</div>
					<div class="col-md-9">Ed Ruscha: Books &amp; Co. Museum Brandhorst, Munich. Commissaire : Bob Monk.</div>
				</div>
				<div>
					<div class="col-md-3" >5 Mars – 27 avril 2013</div>
					<div class="col-md-9">Ed Ruscha: Books &amp; Co. Gagosian Gallery (980 Madison Avenue, New
						York, NY, 100075.) Mon livre Some Gasoline Prices est présenté aux côtés
						des oeuvres d’Ed Ruscha, Bruce Nauman, Jonathan Monk, Stan Douglas,
						Michael Maranda, Maurizio Nannucci, entre autres. Commissaire : Bob
					Monk.</div>
				</div>
				<div>
					<div class="col-md-3" >15 septembre – 25 novembre 2012</div>
					<div class="col-md-9">Liverpool Biennial 2012. Mon livre Directions, co-écrit avec Robert
						Fitterman, est inclus dans le catalogue The Unexpected Guest; Art, writing
						and thinking on hospitality. Art/Books Ed. ISBN 978-1-908970-03-9.
					Octobre 2012.</div>
				</div>
				<div>
					<div class="col-md-3" >29 mars – 8 avril 2012</div>
					<div class="col-md-9">troisième génération. PAD pépinière artistique daviers, Angers. Exposition
						de cinq oeuvres, intitulées Ai Weiwei, Sunflower Seeds + Eighty One Roman
						Busts (Made in China), La recette du bonheur/Receipe of Happiness, Andy
						Warhol Had Been Shot, JE SUIS UN VÉRITABLE ARTISTE et Still in Search.
					Commissaire : Quentin Lannes.</div>
				</div>
				<div>
					<div class="col-md-3" >9 au 16 septembre 2011</div>
					<div class="col-md-9">Déjà-rêvé. Galerie CDEx, Montréal. Exposition de trois oeuvres, intitulées
					Vox, Silence et Deux fois dans le même fleuve.</div>
				</div>
				<div>
					<div class="col-md-3" >21 juin 2011</div>
					<div class="col-md-9">S.C.U.M Manifesto. Musée des Beaux-Arts d’Angers. Conférenceperformance
					présentée sous le nom de Vanessa Place.</div>
				</div>
				<div>
					<div class="col-md-3" >30 avril – 16 juillet 2011</div>
					<div class="col-md-9">"Requiem", Text Festival in Bury. Fusilier Museum, Manchester,
						Royaume-Uni. Exposition d’une installation textuelle intitulée 246.
					Commissaire : Tony Trehy.</div>
				</div>
				<div>
					<div class="col-md-3" >1 – 16 avril 2011</div>
					<div class="col-md-9">"Poéticas para unha vida" III Festival International de Poesia
						Experimental e de accion. El VERBUM Casa das Palabras de Vigo
					(Espagne). Exposition de This is not a poem (yet).</div>
				</div>
				<div>
					<div class="col-md-3" >29 mars 2011</div>
					<div class="col-md-9">An Evening with No Press. ACA Galleries, 529 W. 20th St., 5th Flr.
						NYC, NY, USA. Lecture-performance avec Robert Fitterman. Commissaire :
					Derek Beaulieu.</div>
				</div>
				<div>
					<div class="col-md-3" >11 février 2011</div>
					<div class="col-md-9">Salon d'art performance royal. Galerie L’Art passe à l’Est, Montréal.
					Performance picturale.</div>
				</div>
				<div>
					<div class="col-md-3" >8 octobre 2010</div>
					<div class="col-md-9">ExhiBi 2010. Bain Mathieu, Montréal. Exposition de la vidéo intitulée
					Snowwhitelenin.</div>
				</div>
				<div>
					<div class="col-md-3" >9 Août 2010</div>
					<div class="col-md-9">EJECT, Tercer Festival de Videoperformance de la Ciudad de
						México. Ex Teresa Arte Actual. Exposition de la vidéo intitulée Autoportrait
					(2008-2010). Commissaire : Pancho Lopez.</div>
				</div>
				<div>
					<div class="col-md-3" >Juin 2010</div>
					<div class="col-md-9">"Labyrinthe artistique", L’Écho d’un f leuve 2010, Montréal.
					Présentation extérieure d’une vaste installation vidéo intitulée Screen Tests.</div>
				</div>
				<div>
					<div class="col-md-3" >Mai – juin 2010</div>
					<div class="col-md-9">Deux ateliers sur l’histoire et le tournage des Screen Tests donné à la Maison
					de la culture Frontenac et au centre d’artistes Dare Dare</div>
				</div>
			</div>
		</div>
		<div class="row livres">
			<h2>Livres (Sélection)</h2>
			<div>
				<div>
					<div class="col-md-4" >Steve Giasson. 2014.</div>
					<div class="col-md-8">VIAGGIO IN ITALIA. New York City : Troll Thread.</div>
				</div>
				<div>
					<div class="col-md-4" >Steve Giasson. 2014.</div>
					<div class="col-md-8">AUTOPORTRAIT. New York City : Troll Thread.</div>
				</div>
				<div>
					<div class="col-md-4" >Steve Giasson. 2013.</div>
					<div class="col-md-8">VOX. Malmö : Publication Studio : Malmö.</div>
				</div>
				<div>
					<div class="col-md-4" >Steve Giasson. 2011.</div>
					<div class="col-md-8">TIFFANY &amp; Co. POEMS. Manchester : Apple Pie Editions.</div>
				</div>
				<div>
					<div class="col-md-4" >Steve Giasson. 2011.</div>
					<div class="col-md-8">SOME GASOLINE PRICES. Manchester : Apple Pie Editions.</div>
				</div>
				<div>
					<div class="col-md-4" >Steve Giasson. 2011.</div>
					<div class="col-md-8">O. Manchester : Apple Pie Editions.</div>
				</div>
				<div>
					<div class="col-md-4" >Steve Giasson. 2011.</div>
					<div class="col-md-8">BAZOOKA JOE®. Manchester : Apple Pie Editions. 2nd Edition</div>
				</div>
				<div>
					<div class="col-md-4" >Steve Giasson. 2011.</div>
					<div class="col-md-8">JOKES (AFTER RICHARD PRINCE). Manchester : Apple Pie Editions.</div>
				</div>
				<div>
					<div class="col-md-4" >Steve Giasson. 2011.</div>
					<div class="col-md-8">A JOKE (FOR RICHARD PRINCE). Calgary : No Press.</div>
				</div>
				<div>
					<div class="col-md-4" >Steve Giasson. 2011.</div>
					<div class="col-md-8">BAZOOKA JOE©. Tiny. Kingston (PA) : chapbookpublisher.com.</div>
				</div>
				<div>
					<div class="col-md-4" >Vanessa Place et Steve Giasson. 2010.</div>
					<div class="col-md-8">PAGE NOT FOUND. Rio : Ood Press.</div>
				</div>
				<div>
					<div class="col-md-4" >Steve Giasson. 2010.</div>
					<div class="col-md-8">11. Publishing The Unpublishable #56. Ubu Editions. </div>
				</div>
				<div>
					<div class="col-md-4" >Robert Fitterman et Steve Giasson. 2010.</div>
					<div class="col-md-8">DIRECTIONS. Calgary : No Press.</div>
				</div>
				<div>
					<div class="col-md-4" >Steve Giasson. 2010.</div>
					<div class="col-md-8">PSYCHOSIS. Kingston (PA) : Naissance.</div>
				</div>
				<div>
					<div class="col-md-4" >Steve Giasson. 2010.</div>
					<div class="col-md-8">THIS IS VISUAL POETRY. Kingston (PA) : chapbookpublisher.com.</div>
				</div>
			</div>
		</div>
		<div class="row catalogues">
			<h2>Catalogues</h2>
			<div>
				<div>
					<div>THE DARK WOULD, SUMMERHALL, EDINBURGH<br/>Philip Davenport. 2013.</div>
					<div>A Catalogue. (Conçu par Steve Giasson). Manchester : Apple Pie Editions. <br/>ISBN 978-1-909388-02-4</div>
					<div>Téléchargeable sur : <a href="http://www.summerhall.co.uk/2013/the-dark-would/">http://www.summerhall.co.uk/2013/the-dark-would/</a></div>
				</div>
				<div>
					<div class="col-md-3" >LIVERPOOL BIENNIAL<br/>Sally Tallant et Paul Domela. 2012.</div>
					<div class="col-md-9">The Unexpected Guest; Art, writing and thinking on hospitality. Art/Books Ed. <br/>ISBN 978-1-908970-03-9.</div>
				</div>
			</div>
		</div>
		
		<div class="row poemes">
			<h2>Articles divers et poèmes dans des revues</h2>
			<div>
				<div>
					<div class="col-md-1" >2013</div>
					<div class="col-md-11">“On Simon Patterson Black-list Paintings”. Flux Magazine.</div>
				</div>
				<div>
					<div class="col-md-1" >2012</div>
					<div class="col-md-11">246. Matrix.</div>
				</div>
				<div>
					<div class="col-md-1" >2012</div>
					<div class="col-md-11">PERFECT LOVERS. Poetry Is Dead Queer Issue.</div>
				</div>
			</div>
		</div>
		<div class="row distinctions">
			<h2>Prix et distinctions</h2>
			<div>
				<div>
					<div class="col-md-1" >2013</div>
					<div class="col-md-11">Bourse FARE (6000 $)</div>
				</div>
				<div>
					<div class="col-md-1" >2010</div>
					<div class="col-md-11">Bourse d'études supérieures du Canada Joseph Armand-Bombardier bourse de doctorat (105 000 $)</div>
				</div>
				<div>
					<div class="col-md-1" >2008</div>
					<div class="col-md-11">Bourse du Conseil de Recherche en Sciences Humaines du Canada (17 500 $)</div>
				</div>
				<div>
					<div class="col-md-1" >2008</div>
					<div class="col-md-11">Bourse FARE (5000 $)</div>
				</div>
				<div>
					<div class="col-md-1" >2007</div>
					<div class="col-md-11">Bourse d’excellence de la Faculté des arts décernée par la Fondation de l’UQAM (1000 $)</div>
				</div>
			</div>
		</div>
	</div>
</div>